html, body {
  background-color: #21232A;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  padding: 70px;
}
button {
  background-color: #f9fafc;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 20px;
}